$font-sans: "Source Sans Pro", sans-serif;
$font-bungee: "Bungee", cursive;
$font-bungee-plus: "Source Sans Pro", sans-serif;

$medium: 30px;
$large: 50px;
$larger: 70px;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$blue: #003566;
$dark-blue: #001d3d;
$mellow-purple: #ACACDE;
$royal-blue: #26408B;
$light-blue: #ABDAFC;
$light-teal: #C2E7D9;

$spacing: 2rem;
