.resume {
  z-index: 1;
  border-radius: 15%;
  color: white;
  width: 100%;
  h1,
  h3,
  p,
  em {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  img {
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    width: 10em;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
  }
}
