@import '/src/styles/variables.scss';

.about {
  width: 100vw;
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-sans;

  h1 {
    margin: 1em 0;
    font-family: $font-bungee;
    font-weight: bolder;
    font-size: $large;
    color: $blue;
  }
  .profile {
    display: flex;
    .text {
      p {
        max-width: 80%;
        font-size: larger;
      }
    }
    img {
      border-radius: 50%;
      height: 20em;
      width: 20em;
    }
  }
}
