.home {
  height: 100%;
  .home-text {
    h2,
    h1 {
      z-index: 1;
    }
    z-index: 1;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow:  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
}
