header {
  display: flex;
  height: 100%;
  width:auto;
  justify-content: space-between;
  z-index: 1;
  img {
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    width: 10em; 
    height: auto; 
    object-fit: contain;
    margin-right: 10px; 
  }
  div {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}