header {
  display: flex;
  height: 100%;
  width:auto;
  justify-content: space-between;
  z-index: 1;

  div {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}