header {
  display: flex;
  height: 10em;
  width:auto;
  justify-content: space-around;
  img {
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    width: 10em; 
    height: auto; 
    object-fit: contain; 
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}