nav {
  background-color: #333; /* Dark background */
  z-index: 1;
  width: 100vw;
  font-size: 20px;
  color: #fff; /* Light text color */
  padding: 10px; /* Add padding for better readability */
}

ul {
  background-color: #333;
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  color: #fff; /* Light text color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Underline on hover for better interaction */
}
@media screen and (min-width: 1600px) {
  nav {
    font-size: 40px;
  }
}
